{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
{% endblock %}
{% block title %}Paiement de ma commande {% endblock %}

{% block body %}
    <h2>Récapitulatif de la commande</h2>
    <p>Vérifier vos informations avant de payer</p>
    <div class="row">
        <div class="col-md-6">
        <strong>Mes adresses de livraisons</strong><br/>
            <div class="form-check mt-4">
                {{delivery | raw}}
            </div>
        <hr>
        <strong>Mes transporteurs</strong><br/>
        <div class="form-check">
            {{carrier.name}}<br/>
            {{carrier.description}}
        </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b>
            </div>
            <div class="order-summary">
              {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img  src="/uploads/{{product.product.illustration}}" alt="{{product.product.nom}}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{product.product.nom}}<br/>
                            <small>
                                {{product.product.subtitle}}<br/>
                                {{product.quantity}}
                            </small>
                            
                        </div>
                        <div class="col-2 my-auto">
                            {{(product.product.prix * product.quantity)/100 | number_format(2)}} TND 
                        </div>
                    </div>
                    {% set total = total + (product.product.prix * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous total :</strong> {{(total/100) | number_format(2)}} TND <br/>
            <strong>Frais de livraison : </strong> {{(carrier.tarif) | number_format(2)}} TND <br/>
            <hr>
            <strong>Total : </strong>  {{(total/100)+(carrier.tarif)   | number_format(2)}} TND

            <a href="" class="btn btn-success btn-block mt-3" id="checkout-button">  Payer | {{(total/100)+(carrier.tarif)   | number_format(2)}} TND</a>
        </div>
    </div>
{% endblock %}
{% block script %}
             
{% endblock %}
